# config file
env.json
.env
.venv/
env/
venv/

# notebooks
notebooks/.ipynb_checkpoints/

# data
data/*
!data/.gitkeep

# models
models/*
!models/.gitkeep

# system & python
__pycache__/
*.pyc

# logs
logs/*
!logs/.gitkeep

# misc
.DS_Store